#Python
*.pyc
__pycache__/

# Python package builds
buildh.egg-info/

#IDE
.vscode
*.code-workspace

#Project
*.npz
/*.out
op_TMP*
old/
Berger_POPC_test_case/*_H*
Berger_POPC_test_case/popc_3frames.xtc
docs/CHARMM36_POPC_validation/full_traj/*
docs/CHARMM36_POPC_validation/movie/*
docs/CHARMM36_POPC_validation/tex/*
docs/CHARMM36_POPC_validation/1POPC/*
docs/CHARMM36_POPC_validation/diff*
docs/CHARMM36_POPC_validation/op_CHARMM36_mistake.def
docs/CHARMM36_POPC_validation/launch.sh
docs/CHARMM36_POPC_validation/.ipynb_checkpoints/
